@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
/* Shared Style */
.section-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.gamer-title-style {
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-details {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.section-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 30px;
}
.section-text {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
}
.title-style {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-primary {
  border-radius: 48px;
  padding: 21px 40px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin-top: 20px;
}
.btn-bgc-pink {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-bgc-sky {
  background-color: #4ec5f7;
}
/* nav section style */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
}
.nav-container {
  border: 2px solid red;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  width: 50%;
  align-items: center;
}
.logo-container img {
  width: 87px;
  height: 40px;
  margin-right: 20px;
}
.nav-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.menu-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
}
.menu-container > a {
  text-decoration: none;
  margin-right: 32px;
}
.follow-us {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
  justify-content: center;
}
.follow-us a {
  font-size: 24px;
}
/* banner style */
.banner-title-style {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 30px;
  /* border: 2px solid red; */
}
.banner-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}
.banner-content {
  width: 50%;
  background-image: url("../images/Group14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-image-container {
  width: 50%;
}
.banner-image {
  width: 100%;
}
.banner-content h2 {
  margin-top: 140px;
  margin-bottom: 0px;
}
/* gamer section style */
.gamer-section-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.image-container {
  width: 50%;
}
.gamer-image {
  width: 100%;
}

.gamer-description {
  text-align: right;
  width: 50%;
}
/* online game Style */
.online-games-container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
.online-games-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  justify-content: center;
}
.online-game-card {
  width: 340px;
}
/* Hover Effect */
.image-box {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.image-box img {
  width: 100%;
  height: auto;
}
.hover-content {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: solid red 3px;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  padding-top: 170px;
  transition: all 0.5s;
}
.image-box:hover .hover-content {
  bottom: 0;
  /* transition-delay: 0.5s;   */
}

/* play instantly section */
.play-instantly-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.instantly-image-container {
  position: relative;
  width: 50%;
  border: solid red 2px;
}
.instantly-main-image {
  width: 100%;
}
.instantly-bottom-image {
  position: absolute;
  bottom: -60px;
  left: -135px;
}

.play-instantly-description {
  border: solid green 2px;
  width: 50%;
}
.play-instantly-text {
  text-align: right;
  padding-right: 200px;
}

/* PLay Games Online */
.play-online-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 150px;
}
.play-online-text {
  text-align: left;
  padding-left: 200px;
}
.online-image-container {
  position: relative;
  width: 50%;
  border: solid red 2px;
}
.online-main-image {
  width: 100%;
}
.online-bottom-image {
  position: absolute;
  bottom: -80px;
  right: -120px;
}

/* Career Section Style */
.career-section {
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  margin-top: 200px;
}
.career-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.career-text-container {
  width: 50%;
  margin-top: 100px;
}
.career-text-container h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 24px;
}
.career-text-container > p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.job-description {
  display: flex;
  justify-content: space-between;
}
.job-details {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.career-pic-container {
  width: 50%;
}

/* All Game section */
.game-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
}
.all-games-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.all-games-container {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: auto auto auto auto; */
}
.games-item {
  display: flex;
  border-radius: 48px;
  height: 80px;
  align-items: center;
  margin: auto;
}
.games-item img {
  border: solid green 2px;
  border-radius: 60px;
  margin-left: 10px;
}
.games-item p {
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
  margin-right: 20px;
}

.games-item:hover {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid red 2px;
}
/* Footer Section */
.footer-section {
  background: #0b0223;
}
.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-style-footer {
  color: white;
}
.footer-link-container a {
  /* border: solid red 2px; */
  color: white;
  text-decoration: none;
  margin: auto;
}
.footer-link-container {
  flex-wrap: wrap;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
/* .footer-logo{
  border: solid green 2px;
} */
