@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}
/* Shared Style */
.section-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.gamer-title-style{
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-details {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.section-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 30px;
}
.section-text{
  color: #534C64;
  font-size: 24px;
  font-weight: 500;
}
.title-style {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-primary {
  border-radius: 48px;
  padding: 21px 40px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin-top: 20px;
  
}
.btn-bgc-pink {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-bgc-sky {
  background-color: #4ec5f7;
}
/* nav section style */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  border: 2px solid red;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  width: 50%;
  align-items: center;
}
.logo-container img {
  width: 87px;
  height: 40px;
  margin-right: 20px;
}
.nav-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.menu-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
}
.menu-container > a {
  text-decoration: none;
  margin-right: 32px;
}
.follow-us {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
  justify-content: center;
}
.follow-us a {
  font-size: 24px;
}
/* banner style */
.banner-title-style {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 30px;
  /* border: 2px solid red; */
}
.banner-container {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}
.banner-content {
  width: 50%;
  background-image: url('../images/Group14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.banner-content h2 {
  margin-top: 140px;
  margin-bottom: 0px;
}
/* gamer section style */
.gamer-section-container{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.gamer-description{
  text-align: right;
}
/* online game Style */
.online-games-container{
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
.online-game-card{
  width: 340px;
}
.online-games-card-container{
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

