@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}
/* Shared Style */
.section-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.section-details {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.section-description {
  color: #534c64;
  font-size: 1.12rem;
  font-weight: 400;
}
.title-style {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-primary {
  border-radius: 48px;
  padding: 21px 40px;
}
.btn-bgc-pink {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-bgc-sky {
  background-color: #4ec5f7;
}
/* nav section style */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  /* border: 2px solid red; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  width: 50%;
  align-items: center;
}
.logo-container img {
  width: 87px;
  height: 40px;
  margin-right: 20px;
}
.nav-title {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
}
.menu-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
}
.menu-container > a {
  text-decoration: none;
  margin-right: 32px;
}
.follow-us {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
  justify-content: center;
}
.follow-us a {
  font-size: 24px;
}
