@media screen and (max-width: 576px) {
  /* common styles for mobile view */

  .nav-container {
    flex-direction: column;
  }
  .logo-container {
    justify-content: center;
  }
  .logo-container img {
    margin-right: 5px;
  }
  .menu-container {
    flex-direction: column;
    gap: 35px;
  }
  /* banner section */
  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner-image-container {
    width: 100%;
  }
  .banner-image {
    max-width: 100%;
  }
  /* gamer section */
  .gamer-section-container {
    flex-direction: column;
  }
  .gamer-description {
    text-align: center;
  }
  /* online games section */
  .online-games-container {
    width: 80%;
  }
  .online-games-card-container {
    flex-direction: column;
  }
  .online-game-card {
    margin: 0 auto;
  }
  /* play instantly */
  .play-instantly-container {
    flex-direction: column;
    margin-top: 50px;
  }
  .instantly-image-container {
    width: 60%;
  }
  .play-instantly-description {
    width: 80%;
  }
  .instantly-bottom-image {
    width: 50%;
    bottom: -30px;
    left: -50px;
  }
  .play-instantly-text {
    text-align: center;
    padding: 0;
  }
  /* Play online */
  .play-online-container {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .online-image-container {
    width: 60%;
  }
  .online-bottom-image {
    width: 50%;
    bottom: -30px;
    right: -45px;
  }
  .play-online-text {
    text-align: center;
    padding: 0;
  }
  /* Career */
  .career-container {
    flex-direction: column;
    padding: 5px;
  }
  .career-text-container {
    width: 100%;
  }
  .career-pic-container {
    width: 100%;
  }
  .career-pic-container img {
    width: 100%;
  }
  .job-details {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }
  .career-section {
    margin-top: 100px;
  }

  /* All Games Container */
  .all-games-container {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    margin: 0 auto;
    border: solid red 2px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .games-item {
    display: flex;
    border-radius: 24px;
    height: 40px;
    align-items: center;
    margin: auto;
  }
  .games-item img {
    height: 35px;
    width: 35px;
    border-radius: 40px;
    margin-left: 5px;
  }
  .games-item p {
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* footer section */

  .footer-link-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 28px;
    margin-top: 60px;
    /* border: solid blue 2px; */
  }
  .footer-link-container a {
    padding: auto;
    margin-right: 24px;
    padding-bottom: 30px;
  }
  .others-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 25px;
    margin-bottom: 28px;
    margin-top: 60px;
    /* border: solid red 2px; */
  }
  .copy-right {
    padding: auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  .play-instantly-text {
    text-align: left;
    padding: 0;
  }
  .instantly-image-container {
    width: 50%;
  }
  .instantly-bottom-image {
    width: 30%;
    bottom: -30px;
    left: -50px;
  }
  .play-instantly-container {
    margin-top: 50px;
  }

  .play-online-text {
    text-align: right;
    padding: 0;
  }
  .online-image-container {
    width: 50%;
  }
  .online-bottom-image {
    width: 30%;
    bottom: -30px;
    right: -45px;
  }
  .small-title {
    font-size: 24px;
    font-weight: 700;
  }
  .play-online-container {
    margin-top: 50px;
  }
  /* Career */
  .career-container {
    flex-direction: column;
    padding: 35px;
  }
  .career-text-container {
    width: 100%;
  }
  .career-pic-container {
    width: 100%;
  }
  .career-pic-container img {
    width: 100%;
  }
  .job-details {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }
  .career-section {
    margin-top: 100px;
  }
}
.footer-link-container a {
  margin: 0 auto;
  padding-right: 20px;
}
