@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
  }
  .logo-container {
    justify-content: center;
  }
  .logo-container img {
    margin-right: 5px;
  }
  .menu-container {
    flex-direction: column;
    gap: 35px;
  }
  /* banner section */
  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner-image-container{
    width: 100%;
  }
  .banner-image{
    max-width: 100%;
  }
  /* gamer section */
  .gamer-section-container{
    flex-direction: column;

  }
  .gamer-description{
    text-align: center;
  }
  /* online games section */
  .online-games-container{
    width: 100%;
  }
  .online-games-card-container{
    flex-direction: column;
  }
  .online-game-card{
    margin: 0 auto;
  }
  /* play instantly */
  .play-instantly-container{
    flex-direction: column;
  }
  .play-instantly-description{
    width: 100%;
  }
  .instantly-image-container{
    width: 100%;
  }

}

@media screen and (min-width: 576px) and (max-width: 960px) {
  
}
